{% extends 'auth.html.twig' %}

{% block content %}
    <form class="js-validation-signup" action="{{ path('medical_auth_login') }}" method="POST">
        <div class="block block-themed block-rounded block-shadow">

            <div class="block-content">
                {% if error %}
                    <div class="alert alert-warning">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <div class="form-group row">
                    <div class="col-12">
                        <label for="signup-username">Username</label>
                        <input type="text" class="form-control" id="username" name="_username" placeholder="eg: john_smith" value="{{ last_username }}">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        <label for="signup-password">Password</label>
                        <input type="password" class="form-control" id="password" name="_password" placeholder="********">
                    </div>
                </div>
                <div class="form-group row mb-0 text-right">
                    <div class="col-sm-12 col-sm-offset-12 push">
                        <button type="submit" class="btn btn-alt-success">
                            Login
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}