{% extends 'base.html.twig' %}

{% block title %}STP{% endblock %}

{% block content %}
    <div class="content">
        <div class="block">
            <div class="block-header block-header-default">
                <h3 class="block-title">Surat Tanda Pengujian</h3>
            </div>
            <div class="block-content block-content-full">
                <table class="table table-bordered table-striped table-vcenter js-dataTable-full">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>Nama Pelanggan</th>
                        <th>No. Sampel</th>
                        <th>Aksi</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set i = 1 %}
                    {% for data in transaksi %}
                        <tr>
                            <th>{{ i }}</th>
                            <th>{{ data.pelanggan.nama }}</th>
                            <th>{{ data.sampel.kodeSampel }}</th>
                            <th>
                                <a href="{{ path('medical_stp_detail', {id: data.id}) }}" target="_blank">
                                    <i class="fa fa-file-text-o"></i>
                                </a>
                            </th>
                        </tr>
                        {% set i = i + 1 %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block customJS %}

{% endblock %}